.editor-styles-wrapper .col{
  //border: 1px dashed #59606A;
  max-width: 100% !important;

  .col-content{
    float: left;
    width: 100%;
  }

  .sg-item-content{
    position: relative;
  }

  .sg-item-filter{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}